<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Win.CodeNavi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Win.CodeNavi.Properties.Settings>
            <setting name="Extensions" serializeAs="String">
                <value/>
            </setting>
            <setting name="Regex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaseSensitive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNotesPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreTest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotesWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotesColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AutoSaveNotes" serializeAs="String">
                <value>False</value>
            </setting>
        </Win.CodeNavi.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
